body {
  font-family: Arial, sans-serif;
  background-color: #ced7d8;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #ced7d8;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  background-color: #316879;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  height: 60%;
}

.player-panel {
  background-color: #316879;
  padding: 10px;
  width: 30%;
  height: 50%;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
}

.player-panel.active {
  background-color: #f47a60;
}

.player-panel.winner {
background-color: #34c924;
}

.center-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.player-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.player-score {
  font-size: 24px;
}

.player-current-box {
  background-color: #ced7d8;
  color: #316879;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.player-current-label {
  font-size: 14px;
  margin-top: 5px;
}

.player-current-score {
  font-size: 24px;
}

button {
  font-size: 18px;
  margin: 10px;
  padding: 10px 20px;
  background-color: #ced7d8;
  color: #316879;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #7fe7dc;
}

.dice {
  text-align: center;
  margin: 10px;
}

.dice-img {
  width: 100px;
  height: 100px;
  display: none;
  justify-content: center;
}
